html, body {
    height: 100%;
}

#root {
    height: 100%;
}

// 공통
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.line {
    margin: 30px 0;
    border: none;
    height: 10px;
    background-color: rgb(247, 249, 250);
}