$mainClr: rgb(53, 197, 240);

.header {
    .home {
        position: relative;
        border-bottom: 1px solid #EAEDEF;
        padding: 10px 0;
        .home-menu-btn {
            position: absolute;
            top: 15px;
            left: 20px;
            border: none;
            padding: 0;
            width: 24px;
            height: 24px;
            background: none;
            cursor: pointer;
            img {
                width: 100%;
            }
        }

        h1.logo {
            margin: 0 auto;
            width: 70px;
            height: 30px;
            img {
                width: 100%;
            }
        }
        .utility-menu {
            position: absolute;
            top: 15px;
            right: 20px;
            a {
                display: block;
                float: left;
                margin-left: 15px;
                width: 24px;
                img {
                    width: 100%;
                }
                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }
            }
        }
    }
    .gnb {
        overflow-x: auto;
        border-bottom: 1px solid #EAEDEF;
        padding: 5px 0;
        .list {
            margin: 0 auto;
            width: 590px;

            li {
                float: left;
                a {
                    display: block;
                    padding: 10px 10px;
                    font-size: 14px;
                }
                &.active {

                    a {
                        color: $mainClr;

                    }
                    
                }
            }

            &::after {
                content: '';
                display: block;
                clear: both;
            }

        }
    }
}